.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  border: 1px solid rgb(230,230,230);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  padding: 20px;
  width: 200px;
  text-align: center;

}

.card img {
  width: 150px;
  height: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.card p {
  color: #808080;
}
